{% extends "base.html" %} 
{% block title %}Home{% endblock %}
{% block content %}

<div class="row row-cols-4 row-cols-md-4">
    {% for note in notes %}
        <div class="col mb-4 row mb-4">
            <div class="card custom-card thick-border w-100 h-100">
                <div class="card-header">{{note.data|name()}} - {{note.data|rating()}}</div>
                <div class="card-body custom-card-color" align="center" >
                    <svg class="coffee-cup" width="100px" height="100px" viewBox="0 0 24 24" fill="" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.4286 7C10.9654 7 4 7 4 7C4 7 4.0001 11.4 4 13.6C3.99987 16.3506 6.85648 18 9.71428 18C12.5721 18 15.4286 16.3506 15.4286 13.6C15.4286 11.4 15.4286 14.7 15.4286 12.5M15.4286 7C17.7143 7 20 7.72369 20 9.75C20 11.7763 18.8571 13.05 15.4286 12.5M15.4286 7C15.4286 9.14788 15.4286 10.3521 15.4286 12.5" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="card-footer">
                    <a href="{{note.data|url()}}" class="card-link" target="_blank" style="font-size: 9px;">{{note.data|url()}}</a>
                    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="svg-container"
                <button type ="button" class="svg-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-file-plus" viewBox="0 0 16 16">
                        <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5z"/>
                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1"/>
                    </svg>
                </button>
            </div>
        </div>
    {% endfor %}
</div>

<div class="d-flex justify-content-center align-items-center">
    <div class="container custom-container">
        <input id="autocomplete" type="text" placeholder="Enter a coffee shop">
    </div>
</div>

<style>
    .custom-card-color {
        background-color: rgb(205, 200, 200);
    }

    .custom-card {
        position: relative; 
        top: 20px;
        left: -90px;
        max-width: 220px; /* Set a maximum width */
    }

    .thick-border {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        border: 3px solid #ccc;
        border-radius: 10px;
    }

    #autocomplete {
        width: 300px;
        padding: 10px;
        font-size: 20px;
        text-align: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        border: 5px solid #ccc;
        border-radius: 10px;
    }

    .svg-button {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        border: none;
        background: transparent;
        width: 64px; 
        height: 64px;
        display: inline-flex;
    }

    .svg-button:focus {
        outline: none; /* Ensure the outline is removed when the button is focused */
    }

    .svg-container {
        position: relative;
        top: 175px; 
        left: -50px;
    }

    .custom-container {
        position: absolute; 
        top: 60px;
        left: 1100px; 
    }
</style>

<script src="https://maps.googleapis.com/maps/api/js?key=API_KEY&libraries=places"></script>
<script type="text/javascript" src="{{ url_for('static', filename='places.js') }}"></script>

{% endblock %}
